[submodule "geg/vendor/spdlog"]
	path = geg/vendor/spdlog
	url = https://www.github.com/gabime/spdlog.git
[submodule "geg/vendor/glfw"]
	path = geg/vendor/glfw
	url = https://www.github.com/glfw/glfw.git
[submodule "geg/vendor/glm"]
	path = geg/vendor/glm
	url = https://www.github.com/g-truc/glm.git
[submodule "geg/vendor/imgui"]
	path = geg/vendor/imgui
	url = https://www.github.com/thegeeko/imgui.git
[submodule "geg/vendor/vma"]
	path = geg/vendor/vma
	url = https://www.github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
